@import './mixins';
@import './variable';

%h1 {
  @include media($bp-medium) {
    @include font(24, 400);
    line-height: 37.75px;
  }

  @include font(20, 400);
  font-family: $font-serif;
  line-height: 32px;
  padding-bottom: 16px;
  text-align: center;
  text-transform: capitalize;
}

%h2 {
  @include font(12, 400);
}

%h3 {
  @include font(16, 400);
  font-family: $font-serif;
  line-height: 24px;
}

%h4 {
  @include media(null, $bp-medium) {
    @include font(16, 400);
    font-family: $font-serif;
    line-height: 24px;
  }
}

%h5 {
  @include font(12, 400);
  font-family: $font-serif;
  line-height: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}


%h6 {
  @include font(10, 400);
  font-family: $font-serif;
  line-height: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}